				        
        .gannt_container {
            max-width: 100%;
			/*width: 98%;*/
            margin: 0 3px;
            background: white;
            padding: 20px;
			padding-top: 5px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        		        	
		#boardSelect {
			min-width: 150px;
		}
		#importExportSelect {
			width: 57px;
		}
		#boardSelect, #importExportSelect, #boardExportBtn, #boardImportBtn {
			height: 22px;
			cursor: pointer;
		}
		.import-export-select {
			display: none;
		}
		
		.nobreak{
			white-space: nowrap;
		}

        .status-section {
			width: 95%;
            background: #f8f9fa;
            border-radius: 6px;
            margin-bottom: 0px;
			padding: 10px;
			display: flex;
			align-items: center;
			row-gap: 5px; /* spacing between elements */
			column-gap: 10px;
			flex-wrap: wrap; /* allows wrapping only when space runs out */
		}

        .board-selection {
			display: flex;
			align-items: center;
			gap: 5px;
			white-space: nowrap; /* prevent label from breaking unnecessarily */
        }

        
        .label {
            display: block;
            margin-bottom: 5px;
            color: #666;
            font-weight: bold;
			white-space: nowrap; /* ensure the label text doesn't break mid-word */
        }
                
        #loadBoardsBtn {
            background: #305e92;
            color: white;
            border: none;
            padding: 3px 80px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            margin-top: 10px;
        }
        
        #loadBoardsBtn:hover {
            background: #006aa3;
        }
        
        #loadBoardsBtn:disabled {
            background: #ccc;
            cursor: not-allowed;
        }
        		
        #gantt-container {
            margin-top: 10px;
            overflow-x: auto;
        }
        
        .error {
            background: #fee;
            color: #c33;
        }
        
        .success {
            background: #efe;
            color: #363;
        }
        
        .loading {
            text-align: center;
            color: #666;
        }
		
		.error, .success, .loading {
			padding:2px 8px;
            border-radius: 4px;
			height: 22px;
		}
        
        .stack-colors {
            margin-top: 5px;
			margin-left: 3px;
            display: flex;
            column-gap: 10px;
            flex-wrap: wrap;
        }
        
        .stack-indicator {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        
        .color-box {
            width: 20px;
            height: 13px;
            border-radius: 4px;
            border: 1px solid #ddd;
			font-size: 9px;
			text-align: center;
        }
        
        .labels-section {
            margin-top: 5px;
            padding-top: 0px;
            border-top: 2px solid #ddd;;
        }
        
        .labels-title {
            font-weight: bold;
        }
		
		/* html popup style */
        #htmlOutput {
			position: relative;
        }
        
        #htmlOutput ul, #htmlOutput ol {
            margin: 0.5em 0;
            padding-left: 1.7em;
        }
        
        #htmlOutput li {
            margin: 0.25em 0;
			padding-left: 0.3em;
        }
        
        /* Remove bullets from checkbox list items */
        #htmlOutput li:has(input[type="checkbox"]) {
            list-style: none;
            margin-left: -1.5em;
            position: relative;
            padding-left: 1.8em;
        }
        #htmlOutput ul {
            list-style: initial;
        }
        
        /* Style checkboxes to allow proper text alignment */
        #htmlOutput input[type="checkbox"] {
            position: absolute;
            left: 0;
            top: 0.05em;
            margin: 0;
			margin-left: 0.2em;
        }
                
        #htmlOutput p {
			margin: 0;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }
        
        #htmlOutput input[type="checkbox"] {
            margin-right: 0.5em;
			height: 14px;
			min-height: 14px;
        }	
		.md_textarea {
			width: 99.6%;
			font-family: inherit;
			font-size: inherit;
			padding: 2px;
			margin: -3px -2px;
			cursor: text;
			border-radius: 3px;
			border-style: solid;
			border-color: black;
			border-width: 1px;
			outline: none;
			resize: none;
		}

		/* Change frappe gantt styling */
		.gantt-container {
			margin-bottom: 15px;
			margin-top: 0px;
		}
		.viewmode-select_ {
			margin-top: 10px;
			height: 18.6px;
		}
		.viewmode-select {
			min-width: 100px;
		}
		.upper-text{
			margin-top: 0px;
		}
		.gantt-container .popup-wrapper { 
			max-width: 350px;
			min-width: 350px;
			border-radius: 8px;
		}
		.gantt-container .popup-wrapper .title {
			width: 90%;
			line-height: 1.3;
			font-size: 0.9rem;
		}
		.gantt-container .popup-wrapper .subtitle {
			font-size: 0.9rem;
		}
		.gantt-container .popup-wrapper .details {
			font-size: 0.85rem;
		}
		.gantt-container .popup-wrapper hr  {
			border: 1px solid #e9e9e9; 
		}
		.gantt-container .popup-wrapper .popup-top-line  {
			margin-top: 10px; 
			margin-bottom: 15px;
		}
		.gantt-container .popup-wrapper .popup-bottom-line  { 
			margin-top: 15px; 
			margin-bottom: 6px;
		}
		
		/* Html-MD-Toggle */
		.html-md-icon-toggle {
			position: absolute;
			top: 4px;
			right: 7px;
			cursor: pointer;
			user-select: none;
			background-image: unset; /* needed for nextcloud integration */
			background-color: white;
			padding: 1px 2px;
			cursor: pointer;
		}
		.html_box {
			min-height: 1px;
		}
		.popup-close-button {
			position: absolute;
			top: 13px;
			right: 21px;
			cursor: pointer;
		}
		.popup-close-button img {
			height: 0.8rem;
			cursor: pointer;
		}
		#toggleBtn img, #toggleBtn2 img {
			cursor: pointer;
		}
		#toggleBtn img {
			height: 0.9rem;
		}
		#toggleBtn2 img {
			height: 1.1rem;
		}
		
		/* Mobile tweeking */
		@media (max-width: 768px) {
			#status {
				display: none;
			}

			.gannt_container {
				padding: 0px;
			}
			
			.gantt-container .popup-wrapper {
				position: fixed !important;
				top: 52px !important;
				left: 5px !important;
				width: 92vw !important;
				height: 90vh !important;
				background-color: white !important;
				z-index: 9999 !important;
				overflow: auto !important;
				padding: 15px;
				margin: 9px;
				border-radius: 8px;
				box-sizing: border-box;
				max-width: none;
				box-shadow: 0px 0px 127px #0000009c;
			}

			.gantt-container .popup-wrapper:before {
				content: "Task Details";
				display: block;
				font-size: 1.2rem;
				margin-bottom: 10px;
				font-weight: bold;
			}
			.gantt-container .popup-wrapper .title {
				margin-top: 17px;
				font-size: 1rem;
			}
			.gantt-container .popup-wrapper .subtitle {
				font-size: 1rem;
			}
			.gantt-container .popup-wrapper .details {
				font-size: 0.9rem;
			}
			.html_box {
				line-height: 1.1;
			}
		}
		@media (max-width: 550px) {
			.import-export-select {
				display: unset;
			}
			.import-export-buttons {
				display: none;
			}
		}

		/* Nextcloud tweeking 
		#content {
			top: 0px;
			left: 11px;
			margin-left: 8px;
		}
		.app-ncgantt {
			top: 0px;
			left: 11px;
			margin-left: 8px;
		}
		*/
		